@font-face {
  font-family: "Verdana";
  src: url("../fonts/Verdana-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Verdana";
  src: url("../fonts/Verdana-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Verdana";
  src: url("../fonts/Verdana.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Verdana";
  src: url("../fonts/Verdana-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0%;
  box-sizing: border-box;
  font-family: Verdana, Tahoma, sans-serif;
}

body {
  background-color: #f5f3f4;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
