body {
  padding: 0;
  margin: 0;
}

.startScreen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #f5f3f4;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.startScreen h1 {
  animation: 2.5s ease-in 0s 1 slideInFromLeft;
  color: #a4161a;
  margin-bottom: 2rem;
  /* opacity: 0;
  transition: ease 0.5s; */
}

.startScreen button {
  border: none;
  background-color: transparent;
}

.fadeInElement {
  animation: 1s ease-in 2s 1 fadeIn;
}

button svg .fadeIn3 {
  animation: 1s ease-in 1.4s 1 fadeIn;
}

button svg .fadeIn2 {
  animation: 1.5s ease-in 0.7s 1 fadeIn;
}

button svg .fadeIn1 {
  animation: 1.5s ease-in 0.2s 1 fadeIn;
}

.hidden {
  opacity: 0;
}

.startScreen .hideButton {
  /* opacity: 0;
  transition: opacity 3s 1s ease-in; */
}

.showButton {
  opacity: 1;
  transition: opacity 3s 1s ease-in;
}

@keyframes slideInFromLeft {
  0% {
    /* transform: translateX(-100%); */
    opacity: 0;
  }
  100% {
    /* transform: translateX(0); */
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.h1In {
  opacity: 1;
}

#unity-container {
  position: absolute;
  /* height: calc(100% + 20px); */
}
#unity-container.unity-desktop {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#unity-container.unity-mobile {
  width: 100%;
  height: 100%;
}
#unity-canvas {
  background: #231f20;
}
.unity-mobile #unity-canvas {
  width: 100%;
}

#about {
  position: relative;
  background-color: #660708;
  color: white;
  text-decoration: none;
  border: 1px solid black;
  padding: 2px 7px;
}
#about:hover {
  text-decoration: underline;
}

/* #unity-loading-bar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
#unity-logo {
  width: 154px;
  height: 130px;
  background: url("unity-logo-dark.png") no-repeat center;
}
#unity-progress-bar-empty {
  width: 141px;
  height: 18px;
  margin-top: 10px;
  background: url("progress-bar-empty-dark.png") no-repeat center;
}
#unity-progress-bar-full {
  width: 0%;
  height: 18px;
  margin-top: 10px;
  background: url("progress-bar-full-dark.png") no-repeat center;
}

.unity-mobile #unity-footer {
  display: none;
}
#unity-webgl-logo {
  float: left;
  width: 204px;
  height: 38px;
  background: url("webgl-logo.png") no-repeat center;
}
#unity-build-title {
  float: right;
  margin-right: 10px;
  line-height: 38px;
  font-family: arial;
  font-size: 18px;
}
#unity-fullscreen-button {
  float: right;
  width: 38px;
  height: 38px;
  background: url("fullscreen-button.png") no-repeat center;
} */
#unity-mobile-warning {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%);
  background: white;
  padding: 10px;
  display: none;
}
