body {
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
}

canvas {
  width: 420px;
}

@media screen and (min-width: 600px) {
  canvas {
    width: 640px;
    height: 360px;
  }
}

@media screen and (min-width: 900px) {
  canvas {
    width: 1024px;
    height: 576px;
  }
}

.startScreen {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f5f3f4;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.startScreen h1 {
  animation: 2.5s ease-in 0s 1 fadeIn;
  color: #a4161a;
  margin-bottom: 2rem;
}

.startScreen .aboutLink {
  color: black;
  position: absolute;
  z-index: 1;
  /* top: 0;
  left: 0; */
  bottom: 0;
  right: 0;
  padding: 4rem;
  /* margin-left: 2rem; */
  margin-right: 2rem;
  background-image: url("../images/Button_About.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  text-decoration: none;
}

.startScreen .aboutLink:hover {
  color: white;
  text-decoration: underline;
}

.startScreen button {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 42px;
  left: 58px;
  z-index: 1;
  cursor: pointer;
  transition: color 0.3s ease;
  font-weight: bold;
  letter-spacing: 0.02rem;
}

.bubbleWrapper {
  position: relative;
}
.hidden {
  opacity: 0;
}
.buttonWrapper {
  animation: 1.4s ease-in 1.4s 1 fadeIn;
  cursor: pointer;
}
.buttonWrapper:hover > button {
  color: #ba181b;
}
.buttonWrapper:hover > .bubbleFour {
  filter: drop-shadow(4px 4px 2px rgb(0 0 0 / 0.4));
}
.bubbleFour {
  transition: filter 0.2s ease-in-out;
}
.bubbleThree {
  animation: 1.5s linear 1.1s 1 fadeIn;
  position: absolute;
  bottom: -20%;
  left: 10%;
}
.bubbleTwo {
  animation: 1.5s linear 0.8s 1 fadeIn;
  position: absolute;
  bottom: -35%;
  left: 2%;
}
.bubbleOne {
  animation: 1.5s linear 0.5s 1 fadeIn;
  position: absolute;
  bottom: -43%;
  left: -6%;
}

.fadeOut {
  animation: 1s linear fadeOut;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#unity-mobile-warning {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%);
  background: white;
  padding: 10px;
  display: none;
}
